.modal-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, .3);
  left: 0;
  top: 0;
  z-index: 99;
  overflow: scroll;
}
.modal-wrapper2{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0, .3);
  left: 0;
  top: 0;
  z-index: 99;
  overflow: scroll;
}
.modal-inner{
  background-color: #fff;
  padding: 4em;
  flex: 10rem 1 1;
  margin-inline: 11em;
  margin-block: 2em;
  box-shadow: 1rem 1rem 1rem rgba(0,0,0, .1);
  border-radius: 1.2rem;
}
.modal-top h1{
  font-size: 2.2rem;
  color: hsl(var(--muted));
  text-transform: uppercase;
}
.modal-top .close-modal{
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3em;
  color: white;
  height: 2rem;
  width: 2rem;
  background-color: hsl(var(--muted));
}
.modal-top{
  display: flex;
  justify-content: space-between;
}

.modal-footer button{
  cursor: pointer;
  border: solid .1rem #666;
  background: none;
  color: #666;
  padding: .2em;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

button:hover{
  background-color: #fff;
  border: solid 1px #666;
  color: #666;
}
.modal-wrapper2,
.modal-wrapper{
  visibility: hidden;
}

.modal-btn{
  text-align: center;
}

.modal-wrapper.show{
  visibility: visible;
  opacity: 0;
  animation: modal .1s ease-in forwards; 
}

.modal-wrapper2.show{
  visibility: visible;
  opacity: 0;
  animation: modal .1s ease-in forwards; 
}

@keyframes modal{
  to{
    opacity: 1;
  }
}

