.tabs{
    width: 100%;
    background-color: white;
    padding: 1em;
    height: 50rem;
}

.tabs-top-inner{
    border-bottom: solid .1rem hsl(var(--muted));
    font-size: 1.2rem;
    height: 3rem;
}

.tabs-top-inner ul li{
    display: inline-block;
    padding-block: .5em;
    padding-inline: 1em;
    border: solid .1rem #fff;
    border-bottom: solid .1rem hsl(var(--muted));
    margin-left: 1rem;
    color: hsl(var(--muted));
    height: 3rem;
}

.tabs-top-inner ul li a{
    color: hsl(var(--muted));
}

.tabs-top-inner ul li:hover{
    border: solid .1rem hsl(var(--muted));
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    background-color: #fff;
    border-bottom: .1rem #fff solid;
    bottom: -7px;
    z-index: 1;
}

.tabs-top-inner .active{
    border: solid .1rem hsl(var(--muted));
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    background-color: #fff;
    border-bottom: .1rem #fff solid;
    bottom: -7px;
    z-index: 1;
}

.hide-tab{
    display: none;
}

.hide-tab.active{
    display: block;
}

