
<br>
<section class="p-4 bg-white">
<div class="container bg-white">


	<div class="row">
<div class="col-sm-12 col-md-8 m-auto">

	<div class="p-2 shadow">

		<!------------------------
		Begin Modal Button
		------------------------->
        <div class="modal-header bg-light">
	<h3 class="box-title  emerror emresult"> <i class="fa fa-envelope"></i> Quick Email</h3>

		</div>	
		<!------------------------
		End Modal Button
		------------------------->


		<form>	
        <div class="modal-body">


			<div class="box box-info">
				<div class="box-body">
				<form>	
					<div class="form-group inputBox">
					  <input type="text" class="form-control" id="subject" required>
						  <label>Subject</label>	
					</div>
					<div class="form-group inputBox">
					  <input type="email" class="form-control" id="semail" required>
						  <label>Email</label>	
					</div>				
					<div>
					  <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" id="smessage"></textarea>
					</div>
		
			</form>
				</div>
			  </div>



<div id="eresult"></div>

		</div>


		<div class="modal-footer">
        <a href="javascript:void(0);"  class="btn btn-primary btn-sm 
         sendEmail">Send</a>
        </div>
		</form>
		</div>


	</div>
</div>


</div>
</section>
<br>

<script  src="assets/js/email-crm.js" type="module"></script>