<div class="container-fluid">
<div class="row">
<div class="col-md-10 m-auto ">	
<div class=" bg-white p-4">

	<!--===================================
	BEGIN INVOICE TITLE
	===================================--->
	<div class="row">
	<div class="col-12">
	<span class="font-weight-bold lead text-muted text-uppercase">RECIEPT</span> 
	<br>
	</div>
	</div>
	<!--===================================
	END INVOICE TITLE
	===================================--->
	


	<!--===================================
	BEGIN BACK BUTTON
	===================================--->
	<div class="col-12">
		<div class=" bg-light p-3">

		<div class="row">
		<div class="col-sm-12 col-md-1">
		<a href="javascript:void(0);" class="btn btn-default btn-sm receiptPrint">
		<i class="fa fa-print fa-lg"></i> PRINT
		</a>
		</div>

		<div class="col-sm-12 col-md-1">
		<a href="javascript:void(0);" class="btn btn-default btn-sm receiptPdf">PDF</a>	
		</div>
				
		<div class="col-sm-12 col-md-7">
		<a href="javascript:void(0);" class="btn btn-default btn-sm receiptEmail">
			<i class="fa fa-envelope fa-lg"></i> EMAIL</a>
		<span class="email-receipt"></span>
		</div>
	
		<div class="col-sm-12 col-md-1">
		<span class="lead"></span> &nbsp;&nbsp; 
		<a href="javascript:void(0);" title="Refresh" id="refresh">
		<i class="fa fa-refresh fa-lg"></i>
		</a>
		</div>

		<div class="col-sm-12 col-md-2 text-right">
		<a href="javascript:void(0);" onclick="goBack();" class="btn btn-default btn-sm "><< Go Back</a>
		</div>

		</div>
	
		</div>
		</div>
	<!--===================================
	END BACK BUTTON
	===================================--->

  	<!--===================================
	BEGIN INVOICE TO
	===================================--->
	<div class="col-md-12" id="results">
	<div class="p-3 bg-light lead">
	Customer Name: <span class="invto"></span>
	</div>
	</div>
	<!--===================================
	END INVOICE TO
	===================================--->

	<!--===================================
	BEGIN PAYMENT DETAILS
	===================================--->	
	<div class="row">

	<div class="col-sm-12 col-md-6">
	<div style="border: dashed 1px #000;" class="p-3">
	<div class="row">

	<div class="col-md-4 col-sm-12">
	Amount Paid: 
	<br><br>
	Balance:
	</div>

	<div class="col-sm-12 col-md-8">
	<h4 class="m-0 amount">GHs</h4><br>
	<h4 class="m-0 balance">GHs </h4>	 
	</div>	

	</div>
	</div>
	</div>


	<div class="col-md-6 col-sm-12">
	<textarea class="textarea message" placeholder="Note" style="width: 100%; height: 140px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" >
	</textarea>
	</div>

	</div>
	<!--===================================
	END PAYMENT DETAILS
	===================================--->	  
	
 	<!--===================================
	BEGIN INVOICE TO
	===================================--->
	<div class="col-md-12" id="results">
	<div class="p-3 bg-light">
	Prepared by: <span class="prepby"></span>
	</div>
	</div>
	<!--===================================
	END INVOICE TO
	===================================--->

</div>
</div>
</div>
</div>

<script>
const view_receipt = async () => {
	const param = new URLSearchParams(window.location.search);
	const p_id = param.get('rec_no');
	const invoice_no = param.get('inv_no');
	const cust_id = param.get('cust_id');

	//Get cudtomer fullname
	const ftch1 = await fetch('router.php?controller=customer&task=all_customers'),
	data1 = await ftch1.json();
	const arr = data1.filter(v => {
		return v.cust_id == cust_id;
	});
	document.querySelector('.invto').innerHTML = arr[0].fullname.toUpperCase();

	//Get users 
	const ftch = await fetch('router.php?controller=user&task=all_users'),
	data = await ftch.json();
	const usrs = data.filter(v => {
		return v.user_id == arr[0].user_id;
	});

	//Get payment details
	const ftch2 = await fetch(`router.php?controller=sales&task=receipt_info&p_id=${p_id}&invoice_no=${invoice_no}`),
	data2 = await ftch2.json();

		let amount;
		let balance; 
		let message;
		let preparedby; 

		if(p_id !== 'null'){
			data2.forEach(v => {
				amount  = param.get('amnt');
				balance = v.balance;
				message = v.message;
				preparedby = v.preparedby;
			});
		}
		else{
			amount = 0;
			balance = param.get('amnt');
			message = '';
			preparedby =  usrs[0].firstname+' '+usrs[0].lastname;
		}
		document.querySelector('.amount').innerHTML = 'GHs: '+amount;
		document.querySelector('.balance').innerHTML = 'GHs: '+balance;
		document.querySelector('.message').innerHTML = message;
		document.querySelector('.prepby').innerHTML = preparedby;
}

view_receipt();
</script>

<script src="assets/js/email-pdf-print.js"></script>
  