	<div class="container-fluid">
	<div class="row">
	<div class="col-md-10 m-auto ">	
	<div class=" bg-white p-5">

		<!--===================================
		BEGIN BUTTONS
		===================================--->
		<div class="col-12">
		<div class=" bg-light p-3">
		<div class="row">

		<div class="col-sm-12 col-md-3">
			<h1 class="text-muted text-left">CREATE SALES INVOICE</h1> 
		</div>

		<div class="col-sm-12 col-md-5">

		</div>

		<div class="col-sm-12 col-md-2">
			<a href="javascript:void(0);" class="btn btn-danger btn-sm saleReceipt">
				<i class="fa fa-book fa-lg"></i> CREATE RECEIPT 
			</a>
		</div>

		<div class="col-sm-12 col-md-1">
			<a href="javascript:void(0);" class="btn btn-default btn-sm saleinvoiceEmail">
				<i class="fa fa-envelope fa-lg"></i> EMAIL
			</a>
		</div>
	
		<div class="col-sm-12 col-md-1">
			<a href="javascript:void(0);" class="btn btn-default btn-sm saleinvoicePdf">VIEW PDF</a>	
		</div>

		</div>
		</div>
		</div>
		<!--===================================
		END BUTTONS
		===================================--->

		<div class="row">
		<div class="col-md-4">
		<div class="customers"></div>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4 col-sm-12"></div>
		</div>


		<div class="row">
		<!--===================================
		BEGIN INVOICE TO
		===================================--->
		<div class="col-md-12">
		<div class="p-3 bg-light lead">
		Invoice to: <span class="invto"></span>
		</div>
		</div>
		<!--===================================
		END INVOICE TO
		===================================--->
		</div>


	<div class="row">
	<div class="col-md-6 taxesInputFields"></div>
	<div class="col-md-6 discountDateInputFields"></div>
	</div>

	<div class="row">
	<div class="col-md-12">
	<form>

	<div class="row ">
		<div class="pl-0 col-sm-5 form-group filter-items"></div>
	</div>

	<div class="row bg-dark text-white invoice-table-header"></div>

	<div class="tBody"> </div>

	<div class="tbFooter"></div>

	<div class="row">
	<div class="col-sm-11">
	<div id="result"></div>
	</div>
	</div>

	<div class="row">
	<div class="col-md-7"></div>
	<div class="col-md-5">
	<div class="p-4">
	<a href="javascript:void(0);" id="save_invoice"  class="save_invoice btn btn-default  btn-sm pull-right mr-5">Save Invoice</a>
	</div>
	</div>
	</div>

	</div>
	</div>
	</form>

	</div>
	</div>

	</div>
	</div>
	</div>
	</div>





	<!-- <script src="assets/js/invoice.js" type="module"></script>
	<script src="assets/js/email-pdf-print.js"></script>
	<script src="assets/js/cust_list.js" type="module"></script>
	<script src="assets/js/create-account.js" type="module"></script>
	<script src="assets/js/account_search.js" type="module"></script> -->
	<script src="assets/components/pos/App.js" type="module"></script>
	<script>

	// const dur =  localStorage.getItem('duration')
	// document.getElementById('mduration').innerHTML = dur


	</script>


	